
.box{
	padding: 0;
	color: whitesmoke;
	position:fixed;
	margin: 0;
	z-index: 0;
	moz-user-select: -moz-none;
	-moz-user-select: none;
	-o-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
.hidden{
	display: none;
}
.box.black{
	background: rgba(105,105,105,1);
	width: 200px;
	height: 100px;
}
.box.button{
	text-align: center;
	background: rgba(105,105,105,1);
}
.box.button>div:nth-child(2){
	width:100px;
	height:40px;
	color: #a5a5ff;
	border: cornflowerblue 3px solid;
	margin: 0 auto;
	margin-top:5px;
	line-height: 40px;
	font-size: 30px;
	font-weight: bolder;
	background: #34353D;
}
.box.battle{
	width: 1000px;
	height: 700px;
	background: #41414f;
}
.box.battle>.toparm{
	height: 60px;
}
.box.battle>.leftarm{
	width: 456px;
	height: 202px;
	background: #31313f;
	float: left;
	/* transform:rotate(10deg); */
}
.box.battle>.rightarm{
	width: 456px;
	height: 202px;
	background: #31313F;
	float: right;
}
.box.battle>.leftarm .unit{
	position: relative;
	width: 150px;
	height: 200px;
	border: black 1px solid;
	float: left;
	background: #131353;
}
.box.battle>.rightarm .unit{
	position: relative;
	width: 150px;
	height: 200px;
	border: black 1px solid;
	float: left;
	background: #531313;
}
.unit>.defend{
	position:absolute;
	top:140px;
	left:120px;
	width:30px;
	height:30px;
	background: #6495ED;
	border-radius: 13px;
}
.unit>.health{
	position:absolute;
	top:170px;
	left:120px;
	width:30px;
	height:30px;
	background: #F4454D;
	border-radius: 13px;
}
.rightarm .unit>.action{
	width: 150px;
	height: 20px;
	background: rgba(100,100,100,0.5);
	text-align: center;
	line-height: 20px;
}
.card{
	width:150px;
	height:200px;
	position: absolute;
}
.card.a{
	background:url(../img/行动牌面.png);
	background-size: 100%;
}
.card.s{
	background: url(../img/灵魂牌面.png);
	background-size: 100%;
}
.card.m{
	background: url(../img/魔法牌面.png);
	background-size: 100%;
}